@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


html,
body {
  background-color: #c68d6547;
  width: 100%;
 
  

  
}


.namechiotsone , .namechiotstwo , .namechiotsthree{
  display: flex;
  justify-content: center;
  color: #3f3632  ;
  text-shadow: 4px 4px 3px #836f65;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
}

.bandereau {
  margin-top: 57.79px;
  
  text-align: center;
  
  font-style: italic;   
  text-shadow: 3px 3px 3px #c68d65;
  color: #836f65;
}


/* Conteneur principal */

.grid-container {
  
  display: grid;
  grid-template-columns:  1fr ; /* Deux colonnes égales */
  grid-template-rows: auto auto auto; /* Trois rangées */
  gap: 10px; /* Espacement entre les éléments */


}

.textone , .texttwo , .textthree {
  display: flex;
  align-items: center;

  padding: 10px;
  border-top: #c68d65 solid 3px;
  text-shadow: 1px 1px 2px #836f65;
  color: #3f3632;
  font-weight: 500;
}
.imageone , .imagetwo, .imagethree{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  
}
.imageone img, .imagetwo img, .imagethree img {
  max-width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
}

/* .imagethree {
  margin-bottom: 10px;

} */



  
 @media (min-width: 800px) {
 .bandereau {
  margin-top: 89.59px;
 }
 
  .grid-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
  }
  .textone {
    grid-area: 1/1;
    font-size: 1.2rem;
  }
  .texttwo {
    grid-area: 2/1;
    font-size: 1.2rem;
  }
  .textthree {
    grid-area: 3/1;
    font-size: 1.2rem;
  }
  .imageone {
    grid-area: 1/2;
    border-top: #c68d65 solid 3px;
    
    
  }
  .imagetwo {
    grid-area: 2/2;
    border-top: #c68d65 solid 3px;
  }
  .imagethree {
    grid-area: 3/2;
    border-top: #c68d65 solid 3px;
    
  }
  .imageone img, .imagetwo img, .imagethree img {
    height: 350px;
  }
  .namechiotsone {
    grid-area: 1/1;
    margin-top: 1rem;
   
  
  }
  .namechiotstwo {
    grid-area: 2/1;
    margin-top: 1rem;
  }
  .namechiotsthree {
    grid-area: 3/1;
    margin-top: 1rem;
  }


}



/* --- MEDIA QUERIES --- */

