<!DOCTYPE html>
<html lang="FR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/footer.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="container-footer">
        <div class="row">
          <div class="footer-col">
            <h4>Informations légales</h4>
            <ul>
              <li><a href="https://www.bing.com/search?pglt=299&q=connecter+les+studios+betas+buds+a+son+pc&cvid=3a51c6c25d8545cbacf507364e9af39e&gs_lcrp=EgRlZGdlKgYIABBFGDkyBggAEEUYOTIGCAEQABhAMgYIAhAAGEDSAQg2NjQwajBqMagCALACAA&FORM=ANSPA1&PC=U531&ntref=1"> Mentions légales</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4><i class="ri-copyright-line"></i> Copyright </h4>
          </div>
          <div class="footer-col">
            <h4>Mes réseaux sociaux</h4>
            <div class="social-links">
              <a href="#"><i class="ri-instagram-line"></i></a>
              <a href="#"><i class="ri-tiktok-line"></i></a>
              <a href="#"><i class="ri-facebook-circle-line"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
